.cart {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    z-index: 999;
    height: 100vh;
    overflow-y: scroll;
    box-shadow: -14px 12px 20px 3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -14px 12px 20px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -14px 12px 20px 3px rgba(0, 0, 0, 0.75);
    // background-color: rgb(239, 234, 234);

    h1 {
        font-weight: 800;
    }

    .item {
        img {

            width: 80px;
            height: 100px;
            object-fit: cover;
        }
    }

    .total,
    .reset {
        margin-bottom: 20px;
    }
}